<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Album List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form th:action="@{/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Home</button>
</form>

<br/><br/>
<h2>Albums:</h2>
<div>
    <table border="1">
        <tr>
            <th>Album Name</th>
            <th>Album Id</th>
            <th>Watch Photos</th>
        </tr>
        <tr th:each ="album : ${albums}">
            <td th:utext="${album.name}">...</td>
            <td th:utext="${album.accessLevel}">...</td>
            <td>
                <a th:href="@{'/photos/' + ${album.id}}">watch</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>

