<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Logout</button>
</form><br/>

<form th:action="@{/users}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Users</button>
</form>

<h2>Home page</h2>
<h2><span th:utext="${userName}"></span></h2>

<a th:href="@{'/albums/' + ${userId}}">Photos</a>

</body>
</html>
