<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Album List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form th:action="@{/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Home</button>
</form>

<h3>Add album</h3>
<form method="POST" action="/addAlbum" enctype="multipart/form-data">
    <input type="text" name="name"  th:text="albumName " /><br/><br/>
    Input public or private
    <br/>
    <input type="text" name="accessLevel"  th:text="albumAccessLevel" /><br/><br/>
    <input type="submit" value="Submit" />
</form>

<br/><br/>
<h1>Albums:</h1>
<div>
    <table border="1">
        <tr>
            <th>Album Name</th>
            <th>Album Id</th>
            <th>Album Access level</th>
            <th>Watch Photos</th>
            <th>Upload Photo</th>

        </tr>
        <tr th:each ="album : ${albums}">
            <td th:utext="${album.name}">...</td>
            <td th:utext="${album.id}">...</td>
            <td th:utext="${album.accessLevel}">...</td>
            <td>
                <a th:href="@{'/photos/' + ${album.id}}">watch</a>
            </td>
            <td>
                <form method="POST" action="/uploadPhoto" enctype="multipart/form-data">
                    <input type="hidden" name ="albumId" th:value="${album.id}"/>
                    <input type="file" name="file" /><br/><br/>
                    <input type="submit" value="Submit" />
                </form>
            </td>

        </tr>
    </table>
</div>

</body>
</html>

