<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Photo List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form th:action="@{/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Home</button>
</form>

<h1>Photos:</h1>

<br/><br/>
<div>
        <tr th:each ="photo : ${photos}">
            <img th:src="@{'/user_photos/' + ${photo.name}}"/>
        </tr>
</div>

</body>
</html>

