<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<form th:action="@{/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Home</button>
</form>
<h1>Spring Boot - Upload Status</h1>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

</body>
</html>