<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Album List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form th:action="@{/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Home</button>
</form>

<br/><br/>
<h2>Users:</h2>
<div>
    <table border="1">
        <tr>
            <th>User Name</th>

        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.name}"></td>
            <td>
                <a th:href="@{'/home/' + ${user.id}}">watch</a></td>
        </tr>
    </table>
</div>

</body>
</html>

